@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');

body {
    @apply bg-gray-900 text-gray-300;
}

.Header {
    @apply sticky top-0;
}

.Header header {
    @apply w-full text-center;
}

.Header h1 {
    @apply text-4xl;
}
